@model GuildCars.UI.Models.MakeViewModel
@{
    ViewBag.Title = "Makes";
}
<h2>Makes</h2>
<div class="row" style="margin-bottom:15px">
    <div class="col-12" style="border:2px solid black">
        @using (Html.BeginForm("AddMake", "Admin", FormMethod.Post))
        {
            <label style="padding-top:30px"><strong>New Make</strong></label>
            <div class="form-group d-inline-block">
                @Html.TextBoxFor(m => m.MakeToAdd.MakeName, new { @class = "form-control"})
            </div>
            <button class="btn btn-primary">Save</button>
        }
    </div>
</div>
<div class="row">
    <table class="table table-striped table-sm" style="width:40%; border:2px solid black">
        <thead class="thead-dark">
            <tr>
                <th scope="col"><strong>Make</strong></th>
                <th scope="col" style="border-left:2px solid black"><strong>Date Added</strong></th>
                <th scope="col" style="border-left:2px solid black"><strong>User</strong></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var make in Model.CurrentMakes)
            {
                <tr>
                    <td>@make.MakeName</td>
                    <td style="border-left:2px solid black">@make.DateCreated</td>
                    <td style="border-left:2px solid black">@make.UserCreated</td>
                </tr>
            }
        </tbody>
    </table>
</div>
